.items_footer
  .items_footer_link.items_privacy_policy プライバシーポリシー
  .items_footer_link.items_terms_of_service 利用規約
  .items_footer_link.items_notation 特定商取引に関する表記
  .items_footer_logo_to_index 
    = link_to image_tag("logo/logo.png", class: "items_footer_logo to_index_btn"), root_path
  .items_c_inc @Mercari, Inc