.mylike {
    ul.lists {
        height:  100%;
        grid-template-columns: 100px;
        grid-template:
        "..... ..... ..... ..... ....."0
        "..... header header header ....."
        "..... ..... ..... ..... ....."5px
        "..... list  list  list  ....."1fr
        "..... ..... ..... ..... ....."
        "..... page  ..... ..... ....."20px
        "..... ..... ..... ..... ....."0/
        0 1fr 1fr 1fr 0;
        h2.like_header {
            grid-area: header;
        }
        li.item_box {
            grid-area: list;
        }
        .pagination {
            grid-area: page;
        }
        h2.like_header {
            background-color: white;
            font-size: 30px;
            text-align: center;
        }
        .item_box {
            background-color: white;
            border: 1px solid whitesmoke;
            display: grid;
            grid-template: 
            "..... ..... ..... ..... ..... ....."10px
            "..... img   ..... ..... ..... ....."10px
            "..... img   ..... name  name  ....."40px
            "..... img   ..... ..... ..... ....."10px
            "..... img   ..... price ..... ....."20px
            "..... ..... ..... ..... ..... ....."10px
            /0 100px 5px 1fr 1fr 0;
            .item_image {
                grid-area:   img;
            }
            .item_name {
                grid-area:  name;
            }
            .item_price {
                grid-area: price;
            }
            .item_name {
                font-size:  14px;
            }
            .item_price {
                font-size:  14px;
            }
            &:hover {
                background-color: whitesmoke;
            }
        }
        li.item_box {
            .item_image {
                background-color: white;
                text-align:        center;
                margin: auto;
                height: 80px;
                width:  80px;
                img {
                    max-width:  80px;
                    max-height: 80px;
                }
            }
        }
    }
    a, .item_link {
        text-decoration: none;
        color:        black;
    }
    .pagination {
        .page.current {
            color: red;
        }
        a {
            &:hover {
            text-decoration: underline;
            }
        }
    }
}