
.categories {

  &_show {
      background-color: whitesmoke;
      padding-top:50px;
    > .detail{
      width:700px;
      margin:0 auto;
      background-color: white;
      > h2 {
        text-align: center;
        padding:10px;
        font-size:20px;
        background-color: lightseagreen;
        color:white;
      }
      > .children {
        padding:20px 30px;
        > a{
          display: inline-block;
          margin:10px;
          color:orange;
          text-decoration: none;
          &:hover {
            text-decoration:underline;
          }
        }
      }
    } 
  }

}