.body__side
  .mypage-nav
    %ul
      %li 
        = link_to " /accounts",class:"link_page" do
          %p マイページ
      %li 
        %p お知らせ
      %li 
        %p やることリスト
      %li 
        %p いいね！一覧
      %li 
        %p 出品する
      %li 
        %p 下書き一覧
      %li 
        %p 出品した商品
      %li 
        %p 出品した商品
      %li 
        %p 出品した商品
      %li 
        %p 購入した商品
      %li 
        %p 購入した商品
      %li 
        %p ニュース一覧
      %li 
        %p 評価一覧
      %li 
        %p ガイド
      %li 
        %p  お問い合わせ

    %h3 設定
    %ul
      %li 
        %p プロフィール
      %li 
        %p 発送元・お届け先住所変更
      %li 
        = link_to "/api/cards/new",class:"link_page" do
          %p 支払い方法管理
          
      %li 
        %p メール/パスワード
      %li 
        %p 本人情報
      %li  
        %p 電話番号の確認
      %li  
        = link_to "/accounts/:account_id/logout",class:"link_page" do
          %p ログアウト